<div class="container-panel col">
  <h3>All Chains</h3>

  <mat-tab-group>
    <mat-tab label="All Chains">
      <app-chains-card-list [chains]="chains$ | async"> </app-chains-card-list>
    </mat-tab>

    <mat-tab label="Ethereum" *ngIf="(ethereumChains$ | async)?.length > 0">
      <app-chains-card-list [chains]="ethereumChains$ | async">
      </app-chains-card-list>
    </mat-tab>

    <mat-tab label="PulseChain" *ngIf="(pulseChains$ | async)?.length > 0">
      <app-chains-card-list [chains]="pulseChains$ | async">
      </app-chains-card-list>
    </mat-tab>
    <mat-tab label="Polygon" *ngIf="(polygonChains$ | async)?.length > 0">
      <app-chains-card-list [chains]="polygonChains$ | async">
      </app-chains-card-list>
    </mat-tab>
    <mat-tab label="Avalanche" *ngIf="(avalancheChains$ | async)?.length > 0">
      <app-chains-card-list [chains]="avalancheChains$ | async">
      </app-chains-card-list>
    </mat-tab>
  </mat-tab-group>
</div>
>
