<mat-card *ngFor="let chain of chains"
class="chain-card mat-elevation-z7">

<mat-card-header>
    <img mat-card-image [src]="chain.iconUrl" [alt]="chain.name" class="chain-logo">
</mat-card-header>

<mat-card-content>
    <p>Chain Name: {{chain.name}}</p>
    <p>{{chain.description}}</p>
    <p>Chain ID: {{chain.chainId}}</p>
    <p>Chain Symbol: {{chain.symbol}}</p>
    <p>Chain RPC URL: {{chain.rpcUrl}}</p>
    <p>Chain Block Explorer URL: {{chain.blockExplorerUrl}}</p>
</mat-card-content>

<mat-card-actions class="chain-actions">
    <button mat-button mat-raised-button color="primary" [routerLink]="['/chains', chain.id]">View</button>
    <button mat-button mat-raised-button color="accent" (click)="editChain(chain)">Edit</button>
</mat-card-actions>
</mat-card>