<h3 mat-dialog-title>{{chain.description}}</h3>
<app-loader></app-loader>
<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <mat-label>Chain Name</mat-label>
        <input matInput 
        placeholder="Chain Name" formControlName="name" />
        </mat-form-field>   

        <mat-form-field>
            <mat-select placeholder="select chain" formControlName="chainId">
                <mat-option *ngFor="let chain of chains" [value]="chain.name">
                    {{chain.name}}
                </mat-option>
            </mat-select>
        </mat-form-field> 

        
  <mat-form-field>

    <input matInput [matDatepicker]="myDatepicker" #searchInput
           formControlName="releaseDate">

    <mat-datepicker-toggle matSuffix
                           [for]="myDatepicker">

    </mat-datepicker-toggle>

    <mat-datepicker #myDatepicker></mat-datepicker>

  </mat-form-field>

  <mat-form-field>

    <textarea matInput placeholder="Description"
              formControlName="longDescription">

    </textarea>

</mat-form-field>
    </mat-dialog-content>

    
<mat-dialog-actions>

    <button mat-raised-button
            (click)="close()">
      Close
    </button>
  
    <button mat-raised-button color="primary" #saveButton (click)="save()">
      Save
    </button>
  
  </mat-dialog-actions>
  
  
  