 .container {
    background-color: rgba(0,0,0,.5);
 }
.footer {
    position:absolute;
    bottom:50px;
    left:20%
}
mat-tab-group {
    width: 100%;
    max-height: 800px;
}
mat-card-title {
    text-align:center;
}
.paragraph {
    text-align:justify;
    padding:30px;
}
