<br />
<h3>About The Society</h3>
<hr>

<div class="about container">

  <div class="row">
    <div class="col-md-9">


      <mat-tab-group>
        <mat-tab label="Vision">
          <p>{{vision}}</p>
          <mat-spinner *ngIf="!web3$" class="centerSpinner"></mat-spinner> 
          <div *ngIf="(web3$ | async) as web3">
            <ul *ngFor="let w of web3">
             <mat-card>
              <mat-card-header fxLayout="row" fxAlign="center center">
                <mat-card-title [innerHTML]="w.title" ></mat-card-title>
                <mat-card-subtitle>{{w.cat3}}___{{w.date}} </mat-card-subtitle>
     
              </mat-card-header>
              <mat-card-content>
                <p [innerHTML]="w.post"></p>
              </mat-card-content>
              <mat-card-actions>
                <button mat-button>LIKE</button>
                <button mat-button>SHARE</button>
              </mat-card-actions>
             </mat-card>
            </ul>
          </div>
 

        </mat-tab>
        
        <mat-tab label="Mission">
          <p class="paragraph">{{mission}}</p>
        </mat-tab>
        <mat-tab label="About">
          <p>{{about}}</p>
        </mat-tab>
      </mat-tab-group>
    </div>
    <div class="col-md-3">
      <h3>Our Team</h3>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <div class="card  ">
            <img src="https://i.imgur.com/1ZQ3Z0M.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <div class="card">
            <img src="https://i.imgur.com/1ZQ3Z0M.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
                content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br />
  <p> Questions, Comments, Complaints? Contact <a href="mailto:tmaestas@armchairbitcoinist.com">Groot Society
      Moderator</a></p>
  <app-contactus class="footer"></app-contactus>

</div>