 
<article class="nft" (click)="onClicked()">
<div fxLayout="row" fxLayoutAlign="center center">

    
    <div  fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="10px">
        <h3 class="child">{{nft.nftName}}</h3>
        <img src="{{nft.image}}"  class="child" alt="nft image"> 
        </div>
    
        <div fxLayout="column" fxLayoutAlign="center center"  fxLayoutGap="10px">
            <p class="child">{{nft.description}}</p>
            <p class="child">Price: {{nft.price}}</p>
            <p class="child">Owner: {{nft.owner}}</p>
        </div>

</div>

</article>