<!-- 
  <mat-side nav-container class="example-container"> -->
 
<div class="contain">
  <app-nav></app-nav>
  <!-- <app-tool-bar></app-tool-bar> -->
  <div id='content' class="content-groot">
 
      <router-outlet></router-outlet>  
  </div>
   <mat-sidenav mode="side" [opened]='menuOpen'>
        <ul>
            <li>
                <b>
                    New York Times
                </b>
            </li>
            <li>
                <a routerLink='/'>Home</a>
            </li>
            <li>
                <a routerLink='/search'>Search</a>
            </li>
        </ul>
</mat-sidenav>
</div> 

     
  <!-- </mat-sidenav-container> -->
