<div class="users">
    <h3>Friends of Groot</h3>
    <input type="number" [(ngModel)]="id" placeholder="User ID">&nbsp;
    <button type="button" (click)="loadUser(id)">Show member Details</button>
    <hr>

    <button type="button" (click)="loadUsers()">Show all members</button>
    <hr>

    <div *ngIf="user">
        <!-- Member's Name <strong>{{user.getName()}}</strong>, with these narratives: -->
     #{{user.id }}: Member's Name <strong>{{user.fName}} {{user.lName}}  </strong>  <br /> 
        <span *ngIf="user.addresses">
            Number of addresses: <strong>{{user.addresses.length}}</strong> 
            - located at: <strong>{{user.addresses[0].address}}</strong> <em>{{user.addresses[0].chain }}</em>.  
        </span>
    </div>
      <hr> 
        <div *ngFor="let add of user.addresses">
            Character <strong>{{add.address}}</strong>, located at: <strong>{{add.chain}}</strong> <em>{{add.chainId }}</em>. 
         </div>
 
    <div *ngIf="users">
        <hr>
        <ul>
            <li *ngFor="let user of users;">
                <!-- ### user.id => this.id -->
             <a (click)="loadUser(this.id)"><strong>Details #{{user.id }}: </strong></a> <em>&nbsp;{{user.fName}} {{user.lName}}</em> <strong> is member of: </strong> <em>{{user.groupType}}</em>
                <hr>
            </li> 
        </ul>
    </div>
    
    
</div>