 
<mat-nav-list>
  <div class="logo-box">
    <a routerLink="/" (click)="onClose()">
      <img class="logo" alt="Groot Logo" src="assets/groot.png" />
    </a>
  </div>
  <hr>  
  <a mat-list-item routerLink="/add-nft" (click)="onClose()">
    <mat-icon>token</mat-icon>
    <span class="nav-caption daily-tech monoton">NFT</span>
  </a>

  <a mat-list-item routerLink="/about" (click)="onClose()">
    <mat-icon>house</mat-icon>
    <span class="nav-caption daily-tech monoton">ABOUT</span>
  </a>
  <hr>
<!-- 
  <a mat-list-item routerLink="/blogs" (click)="onClose()">
    <mat-icon>book</mat-icon>
    <span class="nav-caption daily-tech monoton">Blog</span>
  </a>

  <a mat-list-item routerLink="/news" (click)="onClose()">
    <mat-icon>import_contacts</mat-icon>
    <span class="nav-caption daily-tech monoton">NEWS</span>
  </a> -->

  <hr />
  <!-- <a mat-list-item routerLink="search/">Search</a> -->
  <!-- <a mat-list-item  id="marvel" routerLink="marvel/">Marvel</a> -->
  <!-- <a mat-list-item  id="guardians" routerLink="grootologue/">Guardians</a> -->


  <!-- <a mat-list-item  id="photos" routerLink="photos/1">Photos</a>  -->
  <!-- <a mat-list-item routerLink="photos/:id">Photos</a>  -->


</mat-nav-list> 