<mat-nav-list>
  <div class="logo-box" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
    <a routerLink="/" (click)="onClose()">
      <img class="logo" alt="Groot Logo" src="assets/groot.png" />
    </a>
  </div>
  <hr>
  <ul>
    <li routerLinkActive="active">
      <a mat-list-item routerLink="/nfts" (click)="onClose()">
        <mat-icon>token</mat-icon>
        <span class="nav-caption daily-tech monoton">NFT</span>
      </a>
    </li>
    <li routerLinkActive="active">
      <a mat-list-item routerLink="/about" (click)="onClose()">
        <mat-icon>house</mat-icon>
        <span class="nav-caption daily-tech monoton">ABOUT</span>
      </a>

    </li>
    <li routerLinkActive="active">
      <a mat-list-item routerLink="/blogs" (click)="onClose()">
        <mat-icon>blog</mat-icon>
        <span class="nav-caption daily-tech monoton">BLOG</span>
      </a>

    </li>
    <!-- <li routerLinkActive="active">
      <a mat-list-item routerLink="/server" (click)="onClose()">
        <mat-icon>computer</mat-icon>
        <span class="nav-caption daily-tech monoton">SERVER</span>
      </a> 
    </li> -->
    <li routerLinkActive="active"  *ngIf="((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))" >
      <a mat-list-item routerLink="/users" (click)="onClose()">
        <mat-icon>box</mat-icon>
        <span class="nav-caption daily-tech monoton">USERS</span>
      </a> 
    </li>
    <li routerLinkActive="active"  *ngIf="((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))" >
      <a mat-list-item routerLink="/search-addresses" (click)="onClose()">
        <mat-icon>search</mat-icon>
        <span class="nav-caption daily-tech monoton">SEARCH</span>
      </a> 
    </li>
   
    <li routerLinkActive="active" *ngIf="!((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))"   >
      <a mat-list-item routerLink="/login"  (click)="onClose()">
         
        <span class="nav-caption daily-tech monoton">LOGIN</span>
      </a> 

      <a mat-list-item  title="LOGOUT"  routerLink="/login" *ngIf="((authStore.isLoggedIn$ | async) || (adminAuth.isAdminLoggedIn$ | async))"   (click)="logout();onClose()"> 
        <span class="nav-caption daily-tech monoton"><mat-icon>exit_to_app</mat-icon></span>
      </a> 
    </li>
  </ul>

  <hr>
  <!-- 
  <a mat-list-item routerLink="/blogs" (click)="onClose()">
    <mat-icon>book</mat-icon>
    <span class="nav-caption daily-tech monoton">Blog</span>
  </a>

  <a mat-list-item routerLink="/news" (click)="onClose()">
    <mat-icon>import_contacts</mat-icon>
    <span class="nav-caption daily-tech monoton">NEWS</span>
  </a> -->

  <hr />
  <!-- <a mat-list-item routerLink="search/">Search</a> --> 

  <a mat-list-item id="photos" 
  [ngClass]="{'nopointer':(this.adminAuth.isAdminLoggedOut$ |async)}"  
  *ngIf="isAdmin$ | async"    routerLink="admin/users">Admin</a>
  <!-- <a mat-list-item routerLink="photos/:id">Photos</a>  -->


</mat-nav-list>